@import url{"https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"}

 body {
    font-family: 'Montserrat', 
    sans-serif;
}  
.container{
    padding: 1rem 1rem;
    margin: auto;
} 
.container-center{
    max-width: 500px;
    
}
